{% extends "base_generic.html" %}

{% block content %}
    <h1>Product List</h1>

    <a class="btn btn-primary" href="{% url 'product_create' %}" role="button">Add New Product</a>
    {% if product_list %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Model</th>
                    <th class="text-center">Action</th>
                    <th>Last Modified</th>
                </tr>
            </thead>
            <tbody>
            {% for product in product_list %}
                <tr>
                    <td class="col-md-1">{{forloop.counter}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.model}}</td>
                    <td class="text-center"><a href="{% url 'product_update' product.pk %}">Update</a> | <a href="{% url 'product_delete' product.pk %}">Delete</a></td>
                    <td>{{product.modified_at | date:"Y/m/d  H:m:s"}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
      <p>There are no sku in the database.</p>
    {% endif %}
{% endblock %}